* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0BA5CB;
  overflow: hidden;
  font-family: sans-serif;
}

#border1 {
  width: 500px;
  height: 800px;
  background-position: center center;
  border: 4px solid #2AADFF;
  border-radius: 25px;
  background-color: #07359A;
  box-shadow:
    0 0 20px #2AADFF, 0 0 40px #2AADFF, 0 0 80px #2AADFF, 0 0 160px #2AADFF;
}
