body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  background: linear-gradient(180deg, #0B3A5A 0%, #021028 100%);
}

#border1 {
  text-align: center;
  padding: 10rem;
  width: 60vw;
  border: 4px solid #2AADFF;
  border-radius: 25px;
  background-color: #07359A;
  animation: neonPulse 2s infinite ease-in-out;
}

@keyframes neonPulse {
  0%, 100% {
    box-shadow: 
      0 0 40px #2AADFF, 
      0 0 80px #49CFFF, 
      0 0 160px #7AE0FF, 
      0 0 320px #B6F3FF, 
      0 0 640px #E0FFFF;
  }
  50% {
    box-shadow: 
      0 0 10px #2AADFF, 
      0 0 20px #49CFFF, 
      0 0 40px #7AE0FF, 
      0 0 80px #B6F3FF, 
      0 0 160px #E0FFFF;
  }
}
