body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("https://i.pinimg.com/originals/58/e0/26/58e026ae8d73568ba950082b3690d0dd.gif") center center / cover no-repeat;
  /* https://usagif.com/wp-content/uploads/2022/hqgif/ocean-wave-44-green-background-waves-ocean-acegif.gif */
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
  color: #0E679E;
}

#overlay {
  position: fixed;
  inset: 0;
  background: url("https://i.pinimg.com/originals/e4/25/d3/e425d3861a7d09173b6f31faefd4460a.gif") center center / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2AADFF;
  font-size: 3rem;
  z-index: 9999;
  cursor: pointer;
  transition: opacity 1s ease;
}

#overlay-text {
  text-shadow: 0 0 10px #2AADFF, 0 0 20px #49CFFF;
  animation: pulseText 1.5s infinite ease-in-out;
}

@keyframes pulseText {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

#container {
  text-align: center;
  padding: 10rem;
  width: 15rem;
  height: auto;
  border: 2px solid #2AADFF;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  animation: neonPulse 2s infinite ease-in-out;
}

@keyframes neonPulse {
  0%, 100% {
    box-shadow: 
      0 0 20px #2AADFF,
      0 0 40px #49CFFF,
      0 0 80px #2AB0FF,
      0 0 160px #1F8FFF,
      0 0 320px #0B5F99;
  }
  50% {
    box-shadow: 
      0 0 10px #2AADFF,
      0 0 20px #49CFFF,
      0 0 40px #2AB0FF,
      0 0 80px #1F8FFF,
      0 0 160px #0B5F99;
  }
}

#profileWrapper {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto 2rem auto;
  transform: scale(0.6);
  transform-origin: center;
}

#pfp {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

#decoration {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180px;
  height: 180px;
  transform: translate(-50%, -50%);
  object-fit: contain;
}

h1 {
  font-size: 50px;
  text-shadow: 
    0 0 5px #2AADFF,
    0 0 10px #2AADFF, 
    0 0 15px #49CFFF,
    0 0 20px #49CFFF;
}

.icon svg {
  width: 50px;
  height: 50px;
  fill: #1883da;
  margin: 0 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  filter: drop-shadow(0 0 5px rgba(42, 170, 255, 1));
}

.icon:hover svg {
  transform: scale(1.2);
  filter: drop-shadow(0 0 8px rgba(42, 170, 255, 1)) drop-shadow(0 0 15px rgba(42, 170, 255, 0.8));
}
  
