body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url("https://webstockreview.net/images/clipart-rain-gif-transparent-19.gif") center no-repeat;
  position: relative;
  overflow: hidden;
}

.rain-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://webstockreview.net/images/clipart-rain-gif-transparent-19.gif') center repeat;
  opacity: 0.3;
  pointer-events: none;
  z-index: 1000;
}
