body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(180deg, #0A52CC 0%, #0841A2 100%);
}

#border1 {
  text-align: center;
  padding: 10rem;
  width: 60vw;
  border: 2px solid #2AADFF;
  border-radius: 25px;
  background-color: #0F3B57;
  opacity: .5;
  animation: neonPulse 2s infinite ease-in-out;
}

@keyframes neonPulse {
  0%, 100% {
    box-shadow: 
      0 0 20px #2AADFF,
      0 0 40px #49CFFF,
      0 0 80px #2AB0FF,
      0 0 160px #1F8FFF,
      0 0 320px #0B5F99;
  }
  50% {
    box-shadow: 
      0 0 10px #2AADFF,
      0 0 20px #49CFFF,
      0 0 40px #2AB0FF,
      0 0 80px #1F8FFF,
      0 0 160px #0B5F99;
  }
}

