body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*background-color: #0BA5CB;*/
}

#border1 {
  text-align: center;
  padding: 10rem;
  width: 60vw;
  border: 4px solid #2AADFF;
  border-radius: 25px;
  background-color: #07359A;
  box-shadow: 0 0 20px #2AADFF, 0 0 40px #49CFFF, 0 0 80px #7AE0FF, 0 0 160px #B6F3FF, 0 0 320px #E0FFFF;
  animation: neonPulse 2.5s infinite ease-in-out;
}

@keyframes neonPulse {
  0%, 100% {
    box-shadow: 0 0 20px #2AADFF, 0 0 40px #49CFFF, 0 0 80px #7AE0FF, 0 0 160px #B6F3FF, 0 0 320px #E0FFFF;
  }
  50% {
    box-shadow: 0 0 10px #2AADFF, 0 0 20px #49CFFF, 0 0 40px #7AE0FF, 0 0 80px #B6F3FF, 0 0 160px #E0FFFF;
  }
}
