/* #border1 {
  width: 95%;
  height:100%;
  background-position: center center;
  border: 4px solid #2AADFF;
  border-radius: 25px;
  background-color: #07359A;
  box-shadow:
    0 0 20px #2AADFF, 0 0 40px #2AADFF, 0 0 80px #2AADFF, 0 0 160px #2AADFF;
} */


 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0BA5CB;
  }

  #border1 {
    width: 100px;
    height: 50px;
    background-color: lightblue;
  }
