body {
  margin: 0;
  height: 100vh;
  background-color: #0BA5CB;
  overflow: hidden;
}

#border1 {
  border-radius: 25px;
  border:2px solid #2AADFF;
  background-color: ##07359A;
  margin: auto;
  width: 200px;
  height: 150px;
  box-shadow:
    0 0 10px #2AADFF,
    0 0 20px #2AADFF,
    0 0 40px #2AADFF,
    0 0 80px #2AADFF;

}
